{% extends 'base.html' %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-2 text-center"  style="box-shadow:0px 0px 10px gray;">
            <img src="{% static 'images/cross.png' %}" height="200" width="200">
            <br>
            <h1 class="alert alert-danger" style="font-family:'Times New Roman', Times, serif;">PAYMENT FAILED </h1>
            <div class="my-1">
                <a href="{% url 'all_properties' %}" class="btn btn-success font-weight-bold">Continue Shopping</a>
                <a href="{% url 'customer_dashboard' %}" class="btn btn-primary font-weight-bold">Go to Dashboard</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}